#app {
  /* background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); */
  @apply min-h-screen;
  background-color: #000000;

}
:root {
  --ia-background: #000000;
  background: var(--ia-background);

  

  /* @apply bg-black; */
}
html {
  background: var(--ia-background);
}
body {
  background: var(--ia-background);
}